DATABASE_URL="postgresql://neondb_owner:npg_DgPxzKi5AF8M@ep-wild-meadow-aqkuogc5-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
ADMIN_EMAIL="admin@citybaker.ru"
ADMIN_PASSWORD="123456"
ADMIN_SESSION_SECRET="super-secret-key"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
